*{
	padding:0;
	margin: 0;
	box-sizing: border-box;
}
.container{
    width:100%;
    height: auto;
    font-family: 'cookie', 'Times New Roman', Times, serif;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #ff99b6;
    overflow: hidden;
}

.nav{
    width:90%;
    height: auto;
    background-color: rgba(255,200,200,.7);
    border-radius: 30px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.nav b{
    font-size: 40px;
    margin-left: 20px;
}

.menu a{
    text-decoration: none;
    font-size: 30px;
    color:#333;
    font-weight: bolder;
    transition-duration: .5s;
}
.menu a:hover{
    border-bottom: 5px solid #f15;
}
.text{
    width:100%;
    position: relative;
    top: 60px;;
    left: 1px;
    font-size: 40px;
    text-align: right;
}
.text h1{
    color:#f15;
    text-shadow: 0 3px 10px rgba(0,0,0,.5);
}
.text .date{
    color:#fff;
    background-color: #f15;
    padding: 5px;
    border-radius: 40px 0 40px 0;
    transition-duration: .5s;
}
.text .date:hover{
    background-color: #fff;
    color:#f15;
}

.section h2{
    width:100%;
    text-align: center;
    color:#f15;
    font-size: 60px;
}
.us1 {
    display: flex;
    flex-direction: column;
}
.us1 span{
    color:#fff;
    font-size: 40px;
    padding: 8px;
    background-color: #f15;
    border-radius: 8px;
}

.venue p{
    font-size: 35px;
    line-height: 30px;
    color:#333;
}


.timings{
    font-size: 35px;
    line-height: 30px;
    color:#333;
}

footer{
    width:100%;
    height: auto;
    color:#ddd;
    font-size: 30px;
    font-family: monospace;
    background-color: #555;
    margin-top: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
footer i{
    color:skyblue;
    font-size: 30px;
    margin-left: 20px;
}

.menu{
    width:50%;
    height: 60px;
    border-radius: 30px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
    transition-duration: .5s;
}

.us{
    width:80%;
    height: auto;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 3px 10px 0 rgba(100,100,100,.3);
}
.timings{
    width:80%;
    height: auto;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    box-shadow: 0 3px 10px 0 rgba(100,100,100,.3);
}
.venue{
    width:80%;
    height: auto;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    box-shadow: 0 3px 10px 0 rgba(100,100,100,.3);
}
.venue img{
    width:50%;
    height: 300px;
    display: inline;
    border:2px solid #f15;
    border-radius: 8px;
    margin-bottom: 10px;
}
.section{
    width:100%;
    height: auto;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.us img{
    width:200px;
    height: 200px;
    border-radius: 50%;
    border-top: 10px solid #f15;
    border-bottom: 10px solid #f15;
    margin-bottom: 20px;
}
    
    .video{ 
        width:auto;

    }
    .banner{
        width:100%;
        height: 650px;
        background-image: url(both.JPG);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        border-radius: 0 0 500px 0;
    }

    nav{
        display:flex;
        height:80px;
        width:100%;
        background:#00;
        align-items: center;
        justify-content:space-between;
        padding:0 50px 0 100px;
        flex-wrap: wrap;
      }

      nav .menu{
        color:#fff;
        font-size:35px;
        font-weight:600;
      }

      nav ul{
        display:flex;
        flex-wrap: wrap;
        list-style-type: none;
      }
      nav ul li{
        margin:0 5px;
      }
      nav ul li a{
        color:#f2f2f2;
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        padding:8px 15px;
        border-radius: 5px;
        letter-spacing:1px;
        border-bottom:1.5px solid transparent;
        transition:all 0.3s ease;
      }
      nav ul li a.active,
      nav ul li a:hover{
        border-color:orange;
        color:orange;
      }
      nav .menu-btn i{
        color:#fff;
        font-size:22px;
        cursor: pointer;
        display:none;
      }
      input[type="checkbox"]{
        display:none;
      }
      .content{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        text-align: center;
        width:100%;
        padding:0 30px;
        color:#fff;
      }


      @media (max-width:1000px){
        nav{
          padding:0 40px 0px 50px;
        }
      }
      @media (max-width:920px){
        nav .menu-btn i{
          display:block;
        }
        #click:Checked ~ .menu-btn i:before{
          content:'\f00d';
        }
        nav ul{
          position:fixed;
          top:80px;
          left:-100%;
          background:#111;
          height:100vh;
          width:100%;
          text-align: center;
          z-index:10;
          display:block;
          transition:all 0.3s ease;
        }
        #click:Checked ~ ul {
          left:0px;
        }
        nav ul li{
          width:100%;
          margin:40px 0;
        }
        nav ul li a{
          width:100%;
          margin-left:-100%;
          display:block;
          font-size: 20px;
          transition:0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
        #click:Checked ~ ul li a{
          margin-left:0px;
        }
      }
